@media (max-width: 900px) {
  .navbar {
    height: 11vw;
    gap: 1vw;
  }

  .border:hover {
    border: none;
  }

  .logo {
    height: 8vw;
    width: 15vw;
    padding: 1vw;
  }

  .nav_address {
    display: none;
  }

  .nav_search {
    display: flex;
    width: 55vw;
    height: 5vw;
    padding-bottom: 2vw;
  }

  .nav_search:hover {
    border: none;
  }

  .search_select {
    display: none;
  }
  .search_input {
    width: 100%;
    font-size: 2.2vw;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .search_icon {
    display: flex;
    width: 6.5vw;
    font-size: 2.5vw;
  }

  .nav_language {
    display: none;
  }

  .hello {
    height: 2vw;
    width: 1vw;
    font-size: 1.6vw;
    line-height: 1vw;
  }

  .nav_second {
    margin-top: 0.1vw;
    font-size: 1.3vw;
    font-weight: 600;
  }
  .nav_return {
    display: none;
  }

  .nav_cart i {
    font-size: 3vw;
    margin-right: 0.5vw;
    padding-bottom: 1vw;
  }
  .nav_cart {
    display: flex;
    font-size: 2.5vw;
    font-weight: 600;
  }

  .nav_singin {
    display: none;
  }

  .phone_signin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-bottom: 1.5vw;
  }

  .phone_signin i {
    font-size: 2.5vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
  }
  .signin {
    font-size: 2.5vw;
    font-weight: 600;
  }

  /* panel */
  .panel {
    height: 5vw;
  }

  .panel_all {
    width: 5%;
    font-size: 2.5vw;
  }

  .panel_ops {
    width: 70%;
  }

  .panel_ops ul {
    justify-content: center;
    font-size: 2.1vw;
  }

  .panel_deals {
    width: 25%;
  }

  .panel_deals p {
    padding-left: 8vw;
    font-size: 1.5vw;
  }

  /* Hero section */
  .hero_section {
    height: 55vw;
  }
  .tojustify {
    padding-top: 35vw;
  }

  .hero_message {
    background-color: transparent;
    color: black;
    font-family: verdana;
    font-size: 1.8vw;
    height: 6vw;
    width: 96vw;
  }
  .hero_message p {
    color: white;
    animation: hero_color 30s ease-in-out infinite 1s normal none;
  }

  @keyframes hero_color {
    28% {
      color: black;
    }
    70% {
      color: black;
    }
  }
  .hero_message a {
    display: flex;
    justify-content: center;
  }

  /* Shop Section */

  .shop_section {
    height: 130vw;
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 28vw;
    width: 28%;
  }

  .see1 {
    font-size: 2.5vw;
    padding-bottom: 1vw;
  }

  .see {
    margin-top: 1.5vw;
    font-size: 1.6vw;
  }

  /* footer panel */

  .all {
    height: 10vw;
    border-radius: 1.5vw;
  }

  .footer_signin {
    padding-top: 119vw;
  }

  .recomm p {
    font-size: 2vw;
    padding-bottom: 1vw;
  }

  .signbtn button {
    width: 25vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 0.6vw;
  }

  .newcust p {
    padding-top: 1vw;
    font-size: 2vw;
  }

  .foot_panel1 {
    height: 6vw;
    font-size: 2vw;
  }

  .foot_panel2 {
    height: 65vw;
    padding-top: 3vw;
    line-height: 2.7vw;
  }

  .foot_panel2 ul a {
    width: 34vw;
    font-size: 2vw;
  }
  .foot_panel2 ul p {
    width: 34vw;
    font-size: 2.5vw;
  }

  .foot_panel3 {
    height: 15vw;
  }

  .im {
    height: 12vw;
    width: 18vw;
    padding-right: 1.5vw;
    margin-top: 2.5vw;
  }

  .eng {
    height: 5vw;
    width: 20vw;
    font-size: 2.3vw;
  }

  .usd {
    height: 5vw;
    width: 25vw;
    font-size: 2.3vw;
  }

  .usa {
    height: 5vw;
    width: 25vw;
    font-size: 2.3vw;
  }

  /* foot panel 4 */
  .foot_panel4 {
    height: 58vw;
    padding-top: 2vw;
    line-height: 1vw;
  }
  .foot_panel4 ul a {
    width: 12vw;
    font-size: 1.5vw;
  }
  .foot_panel4 ul p {
    font-size: 2vw;
  }
  .foot_panel4 ul {
    line-height: 1.8vw;
  }

  /* foot panel 5 */

  .foot_panel5 {
    /* background-color: red; */
    height: 10vw;
    padding-top: 15vw;
  }
  .pages {
    font-size: 1vw;
  }

  .copyright {
    padding-top: 0.3vw;
    font-size: 1vw;
  }
}
