* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

/* amazon logo */
.navbar {
  height: 4.5vw;
  width: 100vw;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly;
  position: relative; */
  gap: 1vw;
}
.nav_logo {
  /* height: 0.5vw; */
  width: 7vw;
  height: 3.5vw;
  display: flex;
}
.logo {
  background-image: url("./logo/amazon_logo.png");
  background-size: cover;
  height: 3.5vw;
  width: 7vw;
  align-items: center;
  justify-content: center;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
  cursor: pointer;
}
.pointer:hover {
  cursor: pointer;
}

/* delivery and country */
.nav_address {
  margin-left: 6px;
  margin-top: 2px;
  height: 3vw;
  width: 9vw;
}
.add_icon {
  display: flex;
}
.add_first {
  color: #cccccc;
  font-size: 1vw;
  margin-left: 15px;
}
.add_second {
  font-size: 1.2vw;
  margin-left: 3px;
}
.image {
  background-image: url("./logo/location_logo.png");
  background-size: cover;
  height: 1.2vw;
  width: 0.9vw;
}

/* Search */
.nav_search {
  display: flex;
  justify-content: space-evenly;
  width: 55vw;
  height: 2.5vw;
  border-radius: 4px;
}

.search_select {
  background-color: #f3f3f3;
  width: 3vw;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search_input {
  width: 100%;
  font-size: 1.1vw;
  border: none;
}
.search_icon {
  display: flex;
  width: 3.1vw;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  color: #0f1111;
}

.nav_search:hover {
  border: 2px solid orange;
}
/* Account and signin */
.nav_signin {
  height: 2vw;
  width: 2vw;
}
/*  */
.hello {
  height: 1vw;
  font-size: 0.85vw;
}

.nav_second {
  margin-top: 0.1vw;
  font-size: 1vw;
  font-weight: 700;
}

/* return */

/* cart */

.nav_cart i {
  padding-left: 1vw;
  font-size: 1.9vw;
}
.nav_cart {
  font-size: 1vw;
  font-weight: 700;
}

/* language */
.nav_language {
  display: flex;
  height: 3vw;
}
.language_logo {
  font-size: 1vw;
  margin-right: 0.1vw;
  border: none;
  padding-top: 1vw;
}
.language {
  font-size: 1vw;
  border: none;
  background-color: #0f1111;
  color: white;
  font-weight: 700;
}
